.cooking-time {
  margin: 0rem;
  width: 20%;
  height: 16%;
  padding: 2rem;

  border-radius: 5%;
  box-shadow: 5px 5px 5px 5px grey;
}

.item1 {
  color: #f2994a;
}

.cooking-time__item {
  padding: 2rem;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 20px 20px;
  grid-template-columns: 60px 100px;
  align-items: center;
  // grid-template-rows: repeat(auto-fill, 2fr);
  // align-content: center;
}

.cooking-time__item__img {
  // margin:2rem;
  // padding:2rem;
  height: 2rem;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.cooking-time__item__title {
  grid-column: 2 / span 1;
}

.cooking-time__item__p {
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 800px) {
  .cooking-time {
    order: -1;
    display: grid;

    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .cooking-time__item {
    width: 10rem;
    padding: 0 2rem 2rem 0;
  }

  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1;
  }

  .item2 {
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  .item3 {
    grid-column: 2 / span 1;
    grid-row: 2;
  }

  .item4 {
    grid-column: 3 / span 1;
    grid-row: 2;
  }
}
