.instructions {
  font-size: 1.2rem;
  &__title {
    font-size: 2rem;
  }

  &__items {
    display: flex;
    align-items: start;
  }
}

.instructions__items__num {
  margin: 0rem 0rem;
  border-radius: 30%;
  width: 36px;
  height: 36px;

  background: rgb(221, 142, 39);

  color: rgb(252, 239, 239);
  text-align: center;
}

.instructions__items__text {
  width: 90%;
  margin: 0rem 1rem 2rem 1rem;
  font-size: 1.2rem;
  font-family: Montserrat;
  line-height: 1.8rem;
}

@media screen and (max-width: 800px) {
  .instructions__items {
    width: 30rem;
  }
}
