* {
  box-sizing: border-box;
}

body {
  padding: 4rem 20rem;
  margin: auto;
  font-family: sans-serif;
  background-color: #ffff;
  // align-content: center;
  // align-items: center;
}

.main {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.ingredients-instructions {
  width: 60%;
  padding: 0rem 10rem 2rem 0rem;
}

.source {
  color: #bdbdbd;
  font-style: italic;
}

footer {
  margin: 6rem auto 0;
  width: 20rem;
  color: #828282;
}

@media screen and (max-width: 800px) {
  body {
    padding: 2em 0.5em;
    margin: auto;
    font-family: sans-serif;
    background-color: #ffff;
    // align-content: center;
    // align-items: center;
  }

  .main {
    flex-direction: column;
    width: 100%;
  }

  .ingredients-instructions {
    width: 100%;
    padding:0rem;
  }
}
